# ----------------------------
# Python
# ----------------------------
backend/venv/
backend/instance/
**/__pycache__/
*.py[cod]
*.pyo

# SQLite database
*.db

# Python environment
.env

# ----------------------------
# React / Node
# ----------------------------
frontend/node_modules/

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# Build folders
# ----------------------------
dist/
build/

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db